* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #656AE7;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* Header style */

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;  
  background-color: #4247D3;
  box-shadow: 0 2px 3px black;
  z-index: 10;
}

.navbar-logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu,
.nav-link {
  display: none;
}

.navbar-logo a {
  color: #f8ff6e;
  font-family: "Reenie Beanie", cursive;
  font-size: 2.5rem;
}

.navbar-logo a:hover {
  opacity: .8;
}


/* Main style */

main {
  padding: 2rem 0;
}

/* Intro content */

.intro-news {
  position: relative;
  height: 325px;
  margin: 0 .5rem 10rem .5rem;
  top: 80px;
  border-radius: .3rem;
  z-index: 0;
  overflow-y: auto;
}

.intro-news-title {
  position: absolute;
  left: 55%;
  top: 45%;
  right: 0; 
  color: white;
  z-index: 5;
}

.intro-news-main-title {
  font-size: 2.5em;
}

.intro-news-image {
  background-image: url("./img/philipp-lublasser-O_Xf5uToN-Q-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 325px;
  width: 100%;
  position: absolute;
}

.intro-news-image-overlay {
  height: 325px;
  width: 100%;
  margin: auto;
  background-color: black;
  opacity: .4;
}

/* Main content style */
.main-news {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
}

.main-news-item {
  display: flex;
  width: 100%;
  margin: .5rem;
  border-radius: .3rem;
  font-size: small;
  background-color: #f9f9f9;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 3px grey;
}

.main-news-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  height: 10rem;
  width: 11rem;
  padding: .5rem;
}

.main-news-textbox {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 67%;
  padding: .5rem;
  justify-content: flex-start;
  align-items: center;
}

.main-news-title {
  width: 100%;
}
.main-news-text {
  font-family: 'Open Sans', sans-serif;
  padding: .25em;
}

.main-news-item:hover {
  box-shadow: 0 0 15px black;
  transition: ease-in-out .4s;
  -webkit-transition: ease-in-out .4s;
}
/* Footer style */

footer {
  position: relative;
  margin-top: 8rem;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .25rem;
  background-color: #C3CC22;
  align-items: center;
  justify-content: space-evenly;
}

.footer-text {
  color: white;
  width: 100%;
  padding: .4em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .2em;
  text-align: center;
}

.social-media-items {
  display: flex;
  padding: .25em; 
}

.social-media-link {
  padding: .25em;
}

.social-media-link:hover {
  background-color: #878e11
}


@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-menu {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-menu-item {
    display: flex;
    text-transform: uppercase;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    letter-spacing: 2px;
    flex: 1;
    justify-content: flex-end;
  }

  .navbar-logo {
    width: 33%;
    padding: 0 .8rem;
    text-align: center;
    justify-content: flex-start;
  }

  .nav-link:hover {
    text-shadow: 0 0 2px whitesmoke, 0 0 4px whitesmoke; 
  }

  .nav-link {
    display: inline;
  }

  .intro-news {
    min-height: 350px;
    top: 130px;
    margin: auto 3rem;
  }

  .intro-news-title {
    left: 68%;
    top: 68%;
  }

  .intro-news-image {
    min-height: 350px;
  }

  .intro-news-image-overlay {
    min-height: 350px;
  }

  .main-news {
    display: flex;
    margin-top: 15rem;
    margin: 15rem 0 0 0;    
    padding: 5rem 1rem;
    background-color: #BBCBD5; 
    justify-content: center;
    align-items: center;
  }

  .main-news-item {
    width: 40vw;
    margin: .6rem;
  }

  .card-image {
    min-width: 12rem;
    min-height: 11rem;
  }

  .footer-info {
    padding: 1.75rem;
    font-size: large;
  }
}

@media screen and (min-width: 1025px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-menu {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-menu-item {
    display: flex;
    text-transform: uppercase;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    flex: 0 1 12%;
    justify-content: flex-end;
  }

  .navbar-logo {
    width: 33%;
    text-align: center;
    justify-content: flex-start;
  }

  .nav-link:hover {
    color: lightgrey;
  }

  .nav-link {
    display: block;
  }

  .intro-news {
    margin: auto 5rem;
  }

  .main-news-item {
    flex: 0 1 auto;
    flex-wrap: wrap;
    align-items: center;
    height: 20rem;
    width: 16rem;
    padding: 1rem;
  }

  .main-news-textbox {
    font-size: smaller;
    text-align: center;
  }

  .card-image {
    min-height: 14rem;
    min-width: 15rem;
    padding: .4em;
  }

}
