html {
  background: mintcream;
  color: rgb(104, 100, 100);
}

.header {
  background: rgb(207, 241, 207);
}

.navigationbar {
  overflow: hidden;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigationbar #myLinks {
  display: none;
}

.navigationbar a {
  padding: 25px 25px;
  display: block;
}

.navigationbar a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  width: 25px;
}

.large-news {
  display:flex;
  flex-direction: column;
  background-color: darkseagreen;
  margin: 20px;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.large-news img{
  object-fit: contain;
  width: 95%;
  height: auto;
  filter: sepia(50%);
  margin: 5px;
}

.large-news paragraph {
  padding: 5px;
  margin: 5Px;
}

.small-news{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: burlywood;
  padding: 20px;
  margin: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.small-news h3 {
  font-size: 20px;
}

.small-news p {
  font-style: italic;
}

.small-news img {
  object-fit: contain;
  width: 100%;
  filter: sepia(50%);
}

.small-news-button {
  background-color: antiquewhite;
  padding: 20px;
  width: fit-content;
  border-radius: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.small-news-button:hover {
  text-decoration: underline;
  text-shadow: 1px;
  background-color: rosybrown;
}

@media (min-width: 768px) {

  .navigationbar #myLinks {
    display: flex;
    flex-flow: row;
    justify-content:space-evenly;
  }


  .active {
    width: 75px;
  }

  .navigationbar a:hover {
    font-weight: bold;
  }

  .navigationbar a.icon {
    display: none;
  }

  .large-news{
    flex-direction: row;
    justify-content: center;
  }
  
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    column-gap: 2px;
    row-gap: 2px;
    justify-items: start;
  }

}
@media (min-width: 998px) {


  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    justify-items: start;
  }
  
}