html {background-color: pink;
}

.img {
    width: 50px;
    length: 40px;
  }
.grid-parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 120px);
    gap: 10px;
  }
  .grid-header {
    background: pink;
    grid-column: span 4;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: palevioletred;
  }

  .grid-item {
    background: pink;
    grid-column: span 1;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:palevioletred;
  }


  .flex-parent {
    margin: 20px;
    border: 10px dotted;
    padding: 30px;
    border-color:rgb(206, 66, 112);
    Background: palevioletred;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  
  .flex-child {
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color:rgb(206, 66, 112);
    background: pink;
    padding: 30px;
    width: 600px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

    .imgflower {
    width: 300px;
    height: 350px;
    padding: 20px;
    }

    .header {
        font-size: 30px;
        color: rgb(206, 66, 112);
        padding: 20px;
    }

    .introparagraph {
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(206, 66, 112);
    }

  
    button {
        height: 60px;
        display: flex;
        padding: 20px 20px;
        border:double;
        background: palevioletred;
        color: rgb(206, 66, 112);
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
      }

  .grid-parent1 {
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 400px);
    gap: 10px;
    color:palevioletred;
  }

  .grid-item1 {
    padding: 60px;
    background: palevioletred;
    color: rgb(206, 66, 112);
    grid-column: span 1;
  }

  .imgflower-1 {
    width: 200px;
    height: 200px;
  }

  .header-grid {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .secondparagraph {
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: pink;
  }
  .footer {
    text-align: center;
    padding: 3px;
    background-color: pink;
    color: rgb(206, 66, 112);
  }

  @media (min-width: 667px) and (max-width: 1024px) {
    body {
      flex-direction: column;  
         background: pink;
      flex-wrap: wrap;
    }
    img {
      width: 20%
  }
}
  
 @media (min-width: 1025px) {
    body {
      flex-direction: column;
         background: pink;
        }
    img {
      width: 40%
  }
}
