body {
    background-color: #212529;
  }
  
  
  
/*--- Flex container starts here ---*/

  .flex-container {
    border: 4px solid #FFE401;
    background-color: #FFE401;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 1200px;
      margin-left: auto;
    margin-right: auto;
  }
  
  .flex-child {
    margin: 5px;
    /*border: 2px solid; */
    border-radius: 5px;
    padding: 5px;
    display: flex;
  }
  
  
  img {
    width: 100px;
    height: 100px;
    align-items: flex-end;
  }
  
  
  /*--- Flex conainer -> Navbar starts here--- */
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFE401;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #c9bb40;
    border-radius: 25px;
  }
  
    /*---Navbar ends here ---*/
  
  
  /* --- Flex Container section ends here --*/






/*--- Big News section starts here ---*/

  .big-news {
    border: 4px solid white;
    border-bottom: 4px solid #212529;
    height: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
  }

  .big-news a{
    text-decoration: underline;
    color: black;
  }
  
  .inside-big {
    margin: 5px;
    /* border: 2px solid; */
    border-radius: 5px;
    padding: 5px;
    width: 600px;
    height: 300px;
    display: flex;
  }
  
  .inside-big img {
    width: 510px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px  #212529;
  }
  
  .pic {
    width: 45%;
  }
  
  .text1 {
    width: 60%;
    align-items: center;
    justify-content: center;
  }
  
  .text2 {
    width: 60%;
    align-items: center;
    justify-content: center;
  }

/*--- Big News section ends here ---*/
  

/*--- Latest News section starts here ---*/

.latest { /* gör den kanske gul elelr glittrig eller något */
    border: 4px solid white;
    border-bottom: 4px solid #212529;
    /*text-align: center; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  
  .latest h1 {
    position: relative;
    animation-name: latest;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
    display: inline; /* Ta bort denna och se skillnaden */
    /* width: 400px; /*200px*/
    /* height: 100px; /*40px*/
    background-color: #FFE401;
    justify-content:last baseline;
    align-items: flex-end;
    border-radius: 25px;
  
  }
  
  
  /* Animation */
  @keyframes latest {
    0%   { left:0px; top:0px;}
    20%  { left:200px; top:0px;}
    40%  { left:500px; top:0px;}
    60%  { left:800px; top:0px;}
    100%  { left:1000px; top:0px;}
  
  
  }

/*--- Latest News section ends here ---*/
  
/*------ OTHER NEWS SECTION starts ------*/
  .other-news {
    border: 4px solid white;
    height: 500px;
    display: grid; /* test */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  
  .other-news .flex-child  {
    width: 270px;
    height: 170px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ALLTING NEDANFÖR är nytt, 
  ska ta bort denna text/kommentar när 
  jag ska rensa innan inlämning*/

  .one a {
    background: #ffffff;
    display: inline-block;
    margin: 5px 5px 5px ; /* 55px 75px 30px */
    padding: 15px 15px 25px; /* 15px 15px 30px  */
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
  }
  .one a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .one img {
    display: block;
    width: 250px;
  }
  .one a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  }


  /* Overlay */

  .one {
    position: relative;
    width: 50%; /* 1 */
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  } /* 5 */
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #212529;
  }  /* 4 */
  
  .one:hover .overlay {
    opacity: 0.85;  /* 3 */
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; /* 2 */
  }







   /* ALLTING OVANFÖR --- */ 
/*--- Other News section ends ---*/


  
  
  /* a {
    text-decoration: underline;
    color: white;
  } */ /*Denna verkar inte ha någon funktion längre */
  
/*--- FOOTER starts here ---*/ 
  .footer {
    border: 4px solid rgb(184, 179, 179);
    height: 35px;
    display: grid; /* test */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(184, 179, 179);
  }
  
  .rights {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-weight: bold;
  }
  
  
  
  
  /* DROPDOWN  */
  
  .dropbtn {
    background-color: #FFE401;
    color: black;
    padding: 16px;
    font-size: 76px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 76px;
    font-weight: bold;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .dropdown .dropbtn img {
    width: 250px;
    height: 200px;
  }
  
  
  
  /*-------- Desktop --------------*/
  @media (min-width: 1025px) /* Desktop */ {
    .text1 {
      width: 60%;
      align-items: center;
      justify-content: center;
      font-size: 22px;
    }
  
  
    
    .text2 {
      display: none;
    } 
  
    .other-news {
      height:400px;
    }
  
    .ul1 {
      display: none;
  
    }
  
    .flex-container {
      justify-content: flex-start;
    }
  
    /* .navbar { /* Ny */
      /*display: none;
    } */ /* Kan ta bort */
  
    .dropdown { 
      display: none;
    } 
  
    /* a.home2, .one2, .two, .three {
      width: 52px;
    }  */ /* Kan ta bort */
  
    a.home2, .politics, .sport, .culture {
      width: 112px;
      height: 50px;
      font-size: 28px;
      padding:28px 16px 0 16px ;
      font-weight: bold;
    }
  
    .white {
      width: 50%;
    }
  
  
  
  }
  
  @media (min-width: 667px) and (max-width: 1024px){
    /* Tablet */
    .flex-container {
      height:100px;
      justify-content: center;
    }
  
    .flex-container .white {
      height: 300px;
      align-items:flex-end;
      justify-content:center;
      width: 40%;
    }
  
    .home2, .politics {
      display: none;
    }
  
    a.home1, .politics1, .sport, .culture {
      width: 174px;
      height: 50px;
      padding: 0;
      justify-content:flex-end; 
      font-size: 36px;
      font-weight: bold;
    }
    
    
    .other-news {
      height: 1200px; /* Vet ej varför jag har denna */
    }
    
    .other-news .flex-child  {
      width: 570px;
      height: 270px;
      grid-column:span 2; /* the one making difference */
  
    }
  
    .text2 {
      display: none;
    }
  
    .blue {
      display: none;
    }
  
    .orange {
      display: none;
    }
  
    img {
      width: 200px;
      height: 90px;
    }
  
  
    .dropdown { 
      display: none;
    } 
  
    .text {
      font-size: 40px;
      font-weight: bold;
    }
  
    .text1 {
      font-size: 24px;
    }
  
  }
  
  
  
  
  
  
  /* Mobile */ 
  @media screen and (max-width: 667px) {
    
    body {
      background-color: white;
    }
  
    .ul1, .ul2 {
      display: none;
    }
  
    img.dropdown-pic {
      width: 200px;
      height: 200px;
    }
    
    .flex-container {
      align-items:flex-start;
      justify-content: left;
      width: 1200px;
    }
    .flex-container .white img {
      width: 400px; 
      height: 200px;
    }
  
    .flex-container .white {
      /*width: 400px; */
      width: 80%; }
  
    
    
  
    .big-news {
      height: 530px;
      width: 1200px;
    }
  
    .inside-big {
      height: 500px;
    }
  
  
  
  
  
    
  
    .other-news {
      /* DU KAN LÄGGA EN DISPLAY:GRID; HÄR, SPELAR INGEN ROLL IFALL DU GÖR DET MEN BARA FÖR ATT LRÄAREN SKA SE ATT DU HAR */
      grid-template-columns: none;
      grid-gap: none;
      flex-wrap: nowrap;
      width: 1200px;
      height: 3670px;
      display: block;
      justify-content: space-evenly;
  
    }
  
    
  
  
  
  
  
  
  
  
  
   
  
    .other-news .flex-child {
      width: 1200px;
      height: 500px;
      grid-gap: 10px;
    }
  
    .flex-child .one {
      width: 1200px;
    }
  
    .big-news {
      height: 600px;
      display: table-row;
      justify-content:center;
      text-align: center;
      width: 1200px;
    }
  
    .inside-big {
      width: 1200px;
      height: 600px;
    }
  
    .inside-big img {
      width: 100%;
      height: 600px;
      box-shadow: 5px 25px 5px  #212529;
    }
  
  
    .inside-big .pic {
      width: 1200px;
    }
  
    .text2 /* Only visible on mobile Device */ {
      width: 1200px;
      align-items: center;
      justify-content: center;
      height: 100px;
      font-size: 36px;
      font-weight: bold;
      }
  
    
    .text1 /*Not visible on Mobile Device */ {
      display: none;
    } 
  
    .text {
      font-size: 75px;
      font-weight: bold;
    }
  
    .latest {
      font-size: 28px;
      width: 1200px;
      height: 100px;
    }
  
    .overlay {
      width: 1200px;
    }
    
    .footer {
      font-size: 28px;
      height: 70px;
      align-items: center;
    }
  
  }