/* generic nav-bar section */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Space+Mono&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: auto; /* Full width */
}

header h2 {
  color: blueviolet;
}

header h2 span {
  color: rgb(22, 34, 167);
}

header ul li {
  list-style-type: none;
  display: inline-block;
}

header ul li a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

header ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}

/* Style The Dropdown Button */
.dropbtn {
  background-image: url("menu-icon.png");
  background-size: 41px 42px;
  height: 40px;
  width: 40px;
  border: none;
}

.dropdown-tablet-mobile {
  order: 1; /* sets the menu as last element as standard value 0 */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9bd;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(128, 0, 128);
  font-style: italic;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;
}

/* Toggle the dropdown menu on click */
.toggle-dropdown {
  display: block;
}

.subscribe {
  border: none;
  background: #ea1538;
  color: white;
  font-weight: bold;
}

/* generic homepage grid*/
.grid-parent {
  display: grid;
  gap: 10px;
}

/* generic articles */
.news {
  display: flex;
  flex-direction: column;
  min-height: 0; /* IMPORTANT: you need this for non-chrome browsers */
  height: 100%;
  overflow: auto;
  text-align: center;
}

.news h2 {
  width: 100%;
  height: 15%;
  margin: 0;
}

.news p {
  width: 100%;
  height: 35%;
  margin: 0;
}

.news img {
  align-content: center;
  height: 50%;
  object-fit: contain;
}

.grid-item {
  background: pink;
}

/* mobile-phone section */
@media (max-width: 666px) {
  /* mobile-phone section nav-bar*/
  .nav-links-desktop {
    display: none;
  }

  header {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
  }

  header h2 {
    font-size: 30px;
    width: 40%;
    margin: 0;
  }

  .subscribe {
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    background: #ea1538;
    color: white;
    font-weight: bold;
  }

  .subscribe :hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.4s;
  }

  /* mobile-phone home page grid */
  .grid-parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 250px;
    grid-auto-rows: 180px;
  }
}

/* tablet section */
@media (min-width: 667px) and (max-width: 1024px) {
  /* tablet section nav-bar*/
  .nav-links-desktop {
    display: none;
  }

  header {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
  }

  header h2 {
    font-size: 40px;
  }

  .subscribe {
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    background: #ea1538;
    color: white;
    font-weight: bold;
  }

  button :hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.4s;
  }
  /* tablet section grid*/
  .grid-parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 180px;
  }

  .big-grid-item {
    grid-column: span 2;
  }
}

/* computer section*/
@media (min-width: 1025px) {
  /* computer section nav-bar*/
  .dropdown-tablet-mobile {
    display: none;
  }

  header {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
  }

  header h2 {
    font-size: 35px;
  }

  header ul li {
    padding: 5px 10px;
  }

  ul {
    padding-inline-start: 0;
  }

  header ul li a {
    font-size: 20px;
  }

  .subscribe {
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 15px;
  }

  .subscribe:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.4s;
  }

  /* computer section grid*/
  .grid-parent {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 180px;
  }

  .big-grid-item {
    grid-column: span 4;
  }
}
