/* generic nav-bar section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: auto; /* Full width */
}

nav h2 {
  color: blueviolet;
}

nav h2 span {
  color: rgb(22, 34, 167);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}

button {
  border: none;
  background: #ea1538;
  color: white;
  font-weight: bold;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.4s;
}

/* generic homepage grid*/
.grid-parent {
  display: grid;
  gap: 20px;
}

.grid-item {
  background: pink;
}

/* mobile-phone section grid*/
@media (max-width: 666px) {
  /* mobile-phone home page grid */
  .grid-parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px;
    grid-auto-rows: 100px;
  }
}

/* tablet section grid*/
@media (min-width: 667px) and (max-width: 1024px) {
  .grid-parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 100px;
  }

  .big-grid-item {
    grid-column: span 2;
  }
}

/* computer section*/
@media (min-width: 1025px) {
  /* computer section nav-bar*/
  nav {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
  }

  nav h2 {
    font-size: 40px;
  }

  nav ul li {
    padding: 10px 10px;
  }

  nav ul li a {
    font-size: 30px;
  }

  button {
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 15px;
  }

  /* computer section grid*/
  .grid-parent {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-auto-rows: 100px;
  }

  .big-grid-item {
    grid-column: span 4;
  }
}
