media queries for desktop, based on the browser view

.flex-parent-header {
  height: 600px;
 }

 .logo img {
  height: 500px;
 }

 .navbar a {
    height: 90px;
    width: 350px;
    font-size: 70px;
 }


.news-grid {
  margin-left: 200px;
  margin-right: 200px;
}

h2 {
  padding: 40px 90px 20px 90px;
  font-size: 280px;
}

p {
 font-size: 100px;
 padding-left: 100px;
 padding-right: 100px;
}

.big-card {
  margin-bottom: 100px;
  margin-top: 100px;
}

 .small-card {
  grid-column: span 2;
  margin-bottom: 40px;
 }

 .small-card article {
  width: 90%;
  height: 900px;
  padding-left: 20px;
}

 h3 {
  font-size: 55px;
 }

button {
  display: block;
}

footer {
  height: 320px;
  margin-top: 100px;
}

footer img {
  height: 250px;
}







code for the styling of the navbar

.navbar {
    align-content: center;
    border: 5px solid blue;
    margin-right: 40px;
  }
  
  .navbar a {
    display: inline-block;
    background: pink;
    height: 40px;
    width: 140px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    color: tomato;
    text-decoration: none;
    box-shadow: 2px 4px tomato;
  }
  
  .navbar a:hover {
    background:tomato;
    box-shadow: 2px 4px pink;
    color: pink;
  }






  @media (min-width: 1400px) {

    .flex-parent-header {
      height: 250;
      }
      
    .logo img {
      
      height: 200px;
    }
    
    }