html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(232, 240, 242);
  color: rgb(5, 55, 66)
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 0;
  background-color: rgb(5, 55, 66, .93);
  color: white;
}


h1 {
  font-weight: normal;
  font-size: 18px;
  margin-left: 10px;

}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

nav {
  display: none;
}

i {
  font-size: x-large;
}


.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 5px;
}

.logo {
  width: 60px;
  }

.big-news {
  margin-top: 90px;
}

.big-news-image, .other-news-image  {
  display: block;
  width: 87%;
  max-width: 590px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  box-shadow: 3px 3px 4px grey;
  background-color: white;
}

.big-news-text, .other-news-text {
  width: 87%;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.sm-icons {
  width: 50%;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.contact-paragraph {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
}

.fab {
  color: rgb(5, 55, 66);
}

.footer-text {
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}



