html {
  background: antiquewhite;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
  font-family: 'Open Sans', sans-serif;
}

body {

  height: 100%;
  background-color: antiquewhite;
  background-size: 100%;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: orange
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #000000;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}


.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-widht: 992px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-widht: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media (max-widht: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}



/* THE BIG NEWS CONTENT */

.big-news {

  display: flex;
  align-items: center;
  justify-content: center;
}


.flex-box {
  background-color: none;
  padding: 20px;
  width: 1000px;
  justify-content: center;

}

.flex-box img {
  width: 100%;


}

.flex-box li {
  padding: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-box a {
  font-size: 24px;
}

.flex-box p {
  padding: 2px;
  font-size: 16px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* THE OTHER NEWS */

.other-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  padding: 50px;
  place-items: center;

}

.grid-item img {

  width: 250px;
  display: grid;
  place-items: center;
}

.grid-item li {


  margin: 10px;
  display: grid;
  place-items: center;

}

.grid-item a {

  font-size: 24px;
  font-weight: bold;

}


/* QUOTE */
.quote {
  display: flex;
  background-color: none;
  padding: 100px;
  align-items: center;
  justify-content: center;
}



.qute-box {
  display: flex;
  padding: 100px;
  align-items: center;
  justify-content: center;

}

.quote h2 {
  font-size: 32px;
  margin: 10px;
  font-style: italic;
  align-items: center;
  justify-content: center;

}

.quote p {
  font-size: 18px;
  padding-left: 175px;
  font-style: italic;
  align-items: center;
  justify-content: center;

}

.quote {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }


}

/* THE LAST NEWS */

.the-last-news {

  display: flex;
  margin-bottom: 500px;
  align-items: center;
  justify-content: center;


}


.last-news {
  background-color: none;
  padding: 20px;
  width: 1000px;
  justify-content: center;

}

.last-news img {
  width: 100%;


}

.last-news li {
  padding: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-news a {
  font-size: 24px;
}

.last-news p {
  padding: 2px;
  font-size: 16px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* JAG HAR PROBLEM MED ATT FÖRSTÅ OCH SÄTTA RESPONSIVE */

@media (min-width: 667px) and (max-width: 1024px) {

  .body {
    flex-direction: row;
    flex-wrap: wrap;
    display: block;

  }

  .class {
    flex-direction: row;

  }

  .img {
    width: 40%;
  }



}

/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

.other-news {
  grid-template-columns: repeat(4, 1fr);
  /* 2 columns on tablets */
}


@media (max-width: 992px) {
  .dropdown_menu {
    left: unset;
    right: 0;
    width: 100%;
  }

  .navbar .logo a {
    font-size: 1.2rem;
    /* Adjust logo size for smaller screens */
  }
}

@media (max-width: 768px) {
  .other-news {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on tablets */
  }
}

@media (max-width: 576px) {
  .other-news {
    grid-template-columns: repeat(1, 1fr);
    /* 1 column on mobile */
  }

  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar .logo {
    margin-bottom: 1rem;
  }

  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }
}