:root {
  --pink: #eecae3;
  --brown: #a9826d;
  --green: #84a589;
  --nav: #2a6771;
  --b-hover : #0af3e7;
  --background-color: whitesmoke;
  --grey-text: rgb(136, 135, 139); 
  --button-hover-background: hsla(250, 14%, 61%, 1);
  --button-hover-border: rgba(32, 30, 46, 0);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Comfortaa', 'Ubuntu', 'Roboto', sans-serif;
}

main {
  margin: 10px 10px 10px 10px;
}

/* Custom cursor pointer created by https://www.freepik.com/ and provided by https://www.flaticon.com/ */
a {
  text-decoration: none;
  color: var(--nav);
  font-weight: 700;
  cursor: url('logo-pics/cursor.png'),pointer;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-desktop {
  display: none;
} 

.nav-links {
  display: none;
}
  
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.logo-tablets-and-mobiles {
  fill: var(--pink);
  width: 140px;
  height: 60px;
  align-items: center;
  margin-left: 74px;
}

.top-navicons {
  color: var(--pink);
  width: 20px;
  height: 20px;
}

.navicons-wrapper {
 margin-left: 50px;
}

/* Gradient created via https://coolors.co/gradient-maker/b89c93-8e6865 */
.navbar {
  background: hsla(248, 21%, 15%, 1);
  background: linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#211F2F", endColorstr="#918CA9", GradientType=1 );
  padding: 10px 0px 10px 0px;
  padding: 0;
}

.main-banner {
  width: 100%;
}

.media-icons {
  color: var(--nav);
  width: 22px;
  height: 22px;
}

.article-text {
  font-size: 14px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

hr {
  border: 1px solid var(--grey-text);
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

/* News boxes styles  */
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.news-box-styles {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.content-spacing {
  margin: 10px 10px 10px 10px;
}

.news-pics {
  width: 100%;
}

/* 'Subscribe' button styles and effects */ 
.button-container {
  display: flex;
  justify-content: center;
}

.subscribe {
  outline: 0;
  padding: 10px 30px;
  margin: 15px 0px 15px 0px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 18px;
  vertical-align: middle;
  border:  2px solid;
  border-radius: 20px;
  color: var(--grey-text);
  background-color: var(--pink);
  border-color: transparent;
}

.subscribe:hover {
  background-color: var(--button-hover-background) ;
  border-color: var(--button-hover-border);
  color: var(--pink);
  transition-duration: 0.1s;
  cursor: url('logo-pics/cursor.png'),pointer;
}

.signature-container {
margin: 10px 50px 10px 10px;
}

.signature {
  font-size: 10px;
  color: var(--background-color);
}

/* Styles for Tablet version */
@media (min-width: 768px) {

  .navlinks-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 5px 30px 30px;
  }

  .aligning {
    display: flex;
    margin-left: 15px;
    margin-right: 25px;
  }

  .nav-links {
    display: inline-flex;
    color: white;
    font-size: 14px;
    letter-spacing: 1px; 
  }
  
  .logo-tablets-and-mobiles { 
    width: 160px;
    height: 70px;
    margin-left: -18px;
  }
    
  .top-navicons {
    color: var(--pink);
    width: 25px;
    height: 25px;
  }

  .navicons-wrapper {
    margin: 0px;
   }

  .media-icons {
    width: 22px;
    height: 22px;
  }

  .banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
  }
  
  .list-container {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .sizing-wrapper {
    flex: 1 1 50%;
  }

  .sizing-wrapper p {
    box-sizing: border-box;
    padding: 0;
    line-height: 22px;
    margin: 0px 10px 38px 10px;
  }

  .news-parent-container > * {
    margin: 10px 10px 10px 10px;
  }

  .news-parent-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px -10px -10px -10px;
    width: calc(100% + 20px);
  }

  .news-container {
    flex: 1;
    min-width: 350px;
  }

  .news-box-styles {
    box-sizing: border-box;
   
  }
  
  .news-pics {
    width: 100%;
    aspect-ratio: 14 / 9;
  }





}

/* Styles for Desktop version */
@media (min-width: 992px) {

.logo-tablets-and-mobiles {
  display: none;
} 

.logo-desktop {
  width: 180px;
  height: 50px;
  padding: none;
  margin: none;
}

.nav-links {
  color: white;
  font-size: 5px;
  }
  

.news-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.navlinks-container {
  display: inherit;
}

.nav-links {
  margin-right: 50px;
}
}
