body {
  background: #e0e1dd;
  color: #393d3f;
  font-family: 'Athiti', Arial, Helvetica, sans-serif;
  margin: 0;
}

/* HEADER */

header {
  background: #393d3f;
  color: #c6c5b9;
  height: 100px;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 1fr;
}

.hamburger {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  width: 30px;
  height: 5px;
  background: #c6c5b9;
  border-radius: 5px;
}

.sitename {
  grid-column: 2;
  grid-row: 1;
  place-self: center / left;
  display: flex;
  align-items: center;
}

.sitename div {
  font-family: 'Indie Flower';
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
}

header img {
  width: 60px;
}

nav {
  display: none;
}

.link1, .link2, .link3, .link4 {
  color: #c6c5b9;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

/* BIG NEWS */

.big-news {
  display: flex;
  flex-direction: column;
  margin: 18px;
  padding: 18px;
}

.big-news img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 10px 10px 0px 0px #c6c5b9;
}

.big-news div {
  text-align: center;                                                                                                                                                                                                                                                                                                                             ;
}

.heart {
  background-color: darkred;
  display: inline-block;
  height: 50px;
  margin-top: 30px;
  top: 0;
  transform: rotate(-45deg);
  width: 50px;
  animation: heartbeat 1s infinite; 
}

.heart:before,
.heart:after {
  content: "";
  background-color: darkred;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 )
      rotate(-45deg);    
  }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg);  
  }
   40%
  {
    transform: scale( 1.5 )
      rotate(-45deg);
  }
}

/* NEWS */

.news {
  text-align: center;
  padding: 18px;
  margin: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards a {
  border-radius: 5%;
  width: 340px;
  background: #393d3f;
  text-decoration: none;
  color: #c6c5b9;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  box-shadow: 10px 10px 0px 0px #c6c5b9;
}

.cards a img {
  width: 100%;
  border-radius: 5%;
  filter: grayscale(100%);
}

.cards a img:hover {
  filter: grayscale(0%);
}

.cards a figure {
  margin: 30px 30px 10px 30px;
}

.cards a figcaption {
  margin: -5px;
}

.description {
  display: none;
}

/* FOOTER */

footer {
  background: #393d3f;
  color: #c6c5b9;
  padding: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 50px;
}

.footer-right {
  text-align: right;
}

/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 300px 1fr 1fr;
    grid-template-rows: 1fr;
  }

  nav {
    display: contents;
  }

  .hamburger {
    display: none;
  }

  .sitename {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
  }

  .link1 {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
  }

  .link2 {
    grid-column: 2;
    grid-row: 1;
   place-self: center;
  }

  .link3 {
    grid-column: 4;
    grid-row: 1;
    place-self: center;
  }

  .link4 {
    grid-column: 5;
    grid-row: 1;
    place-self: center;
  }

  .big-news div {
    text-align: left;
  }

  .news p {
    text-align: left;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cards a {
    width: 35%;
  }
}

@media (min-width: 1024px) {

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .hamburger {
    display: none;
  }

  .sitename {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
  }

  nav a {
    margin-right: 20px;
  }

  .big-news {
    flex-direction: row;
    align-items: center;
  }

  .big-news div {
    margin-left: 30px;
    text-align: left;
  }  

  .big-news img {
    width: 50%;
  };

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cards a {
    width: 20%;
  }
}