html {
  background: #ffff;
  color: #fff;
}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

main {
  max-width: 1200px;
  padding: 20px;
  border: 2px solid black;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 10px;
}

.nav-menu li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
}

.nav-menu li a:hover {
  color: #333;
  background-color: #f1f1f1;
}

.nav-menu .subscribe a {
  color: hotpink;
}

.hamburger {
  display: block;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 5px;
}

.hamburger-layer {
  background: hotpink;
  height: 3px;
  width: 25px;
  margin-bottom: 4px;
}

.text-content a {
  text-decoration: none;
  color: inherit;
}

.text-content h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: -20px;
}

h5 {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 2.8vw;
  margin-bottom: -2px;
}

.text-content p {
  font-size: 3vw;
}

.big-news {
  display: grid;
  grid-template-columns: 1fr;
  color: black;
}

.big-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2 {
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.other-news {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: auto;
}

.article-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.article img {
  width: 100%;
  height: auto;
}

.small-text {
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.small-text h3 {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}

.small-text .author {
  font-size: 1.1em;
  color: #555;
  margin: 4px 0;
}

.small-text .subheading {
  font-size: 1.2em;
  color: #222;
}

.article:hover {
  background-color: #e0e0e0;
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px 0 20px;
}

.footer-text {
  color: hotpink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
  border-top: 1px solid #444;
  padding: 20px;
  font-size: 16px;
}

/* mobile */
@media (max-width: 667px) {
  .nav-menu {
    display: none;
  }
}

/* Tablet view */
@media (min-width: 668px) and (max-width: 1024px) {
  .hamburger {
    display: none;
  }

  .other-news {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Desktop view */
@media(min-width: 1024px) and (max-width: 1600px) {
  .hamburger {
    display: none;
  }

  main {
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
  }

  .text-content h1 {
    font-size: 48px;
  }

  .text-content h5 {
    font-size: 26px;
  }

  .text-content p {
    font-size: 24px;
  }


  .other-news {
    grid-template-columns: repeat(4, 1fr)
  }

  .article-img {
    width: 100%;
  }

  .article {
    flex-direction: column;
  }

  .small-text {
    padding-top: 16px;
  }
}