html {
  background: white;
}

#title {
  color: black;
  font-weight: 900;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding: 10px 5px 10px 5px;
}

.synthlogo {
  width: 100px;
  height: 40px;
}

.header-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border-bottom: solid 1px;
  margin-bottom: 5px;
}

.links-column {
  justify-self: right;
}

#links {
  color: black;
  font-weight: 200;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

.synth-main-article-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.main-article-second-column {
  font-size: 20px;
  text-align: center;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 8px 8px 8px;
}

.button {
  border-color: black;
  background-color: black;
  color: white;
  height: 40px;
  width: 130px;
  border-radius: 10px;
}

.synth-articles-grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}

.img {
  width: 787px;
  height: 787px;
  object-fit: cover;
  border-radius: 10px;
}

#article1 {
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
}

h3 {
  font-size: 16px;
}

.synth2 {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
}

#article2 {
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
}

.monitors {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
}

#article3 {
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
}

.soundwave {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 10px;

}

#article4 {
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
}

.list {
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: 0;
}

.headphones {
  width: 150px;
  height: 150px;
  margin: auto;
  padding-bottom: 100px;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

footer {
  color: black;
  text-align: center;
  font-size: 14px;
  text-align: center;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 16px 16px 16px 16px;
}

/*mobile, 1 column*/
@media only screen and (min-width: 320px) and (max-width: 767px) {

  .header-grid-container,
  .synth-main-article-grid-container,
  .synth-articles-grid-container {
    grid-template-columns: 1fr;
  }
}

/*tablet, 2 columns*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .header-grid-container,
  .synth-main-article-grid-container,
  .synth-articles-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*desktop, 4 columns*/
@media only screen and (min-width: 1024px) and (max-width: 1600px) {

  .header-grid-container,
  .synth-main-article-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .synth-articles-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}