html,
body {
  background-color: white;
  margin: 0;
  width: 100%;
  font-family: "Playfair Display", serif;
  
}
 
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

/* Site name and logo */

.site-name {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.site-name .logo {
  width: 35px;
  margin-right: 10px;
  animation: logo 1s alternate-reverse infinite;
}

@keyframes logo {
  from {transform: rotate(10deg);}
  to {transform: rotate(-10deg);}
}

.h1 {
  color: black;
  font-variant: small-caps;
  font-size: 30px;
}

/* Search Container */

.search-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.search-box {
  width: 150px;
  padding: 3px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}

.fa {
  cursor: pointer;
}

.fa-search {
  padding: 5px;
  background: black;
  color: white;
  border: none;
}

.fa-search:hover {
  opacity: 0.7;
}

/* Navigation Bar */

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
}

.navigation-links {
  display: flex;
}

.links {
  font-variant: small-caps;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding: 4px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.links:hover {
  color: #DABED5;
}

/* Navigation bar and dropdown for mobile phones */

.navigation-container .fa-bars {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 35px;
  margin-left: 10px;
}

.mobile-dropdown-content {
  display: none;
  position: absolute;
  font-family: "Playfair Display";
  background-color: black;
  padding: 10px;
  margin-left: -10px;
  margin-top: 30px;
}

.navigation-container .fa-bars:hover .mobile-dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Navigation for tablets and computers */

.topic {
  display: none;
  margin: 0px 0px 5px 15px;
}

.topic-dropdown {
  display: none;
  position: absolute;
  background-color:black;
  margin-top: 32px;
  line-height: 20px;
  padding: 4px;
}

.topic:hover .topic-dropdown {
  display: flex;
  flex-direction: column;
}

/*** Social Media Buttons ***/

.social-media {
  display: flex;
  align-items: center;
}

.social-media .fa {
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
}

.social-media .fa:last-child {
  margin-right: 10px;
}

.social-media .fa:hover {
  color: #DABED5;
}

/*** Header Two (above food boxes) ***/

.header-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.line {
  width: 20%;
  border-bottom: 2px solid black;
}

.h2 {
  font-variant: small-caps;
  color: black;
  font-size: 30px;
  margin: 0px 20px 0px 20px;
}

/*** Big Food Content ***/

.big-food-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 20px;
}

.food-box {
  margin: 7px;
  color: black;
  background-color:#f7f7fa;
  cursor: pointer;
  box-shadow: 1px 3px rgb(192, 189, 189);
} 

.food-box:hover {
  opacity: 0.9;
}

.food-image {
  width: 100%;
}

.food-box .text {
  font-size: 26px;
  text-align: center;
  background-color: #f7f7fa;
  margin: 0;
}

.food-clock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.food-clock .fa  {
  font-size: 28px;
  margin-left: 10px;
}

.food-clock-text {
  font-size: 20px;
}

/* Smaller food boxes */

.small-food-content {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 20px;
}

.small-food-box {
  color: black;
  background-color: #f7f7fa;
  padding: 5px;
  margin: 7px;
  cursor: pointer;
  box-shadow: 1px 2px rgb(192, 189, 189);
}

.small-food-box:hover {
  opacity: 0.9;
}

.small-food-box .text {
  font-size: 18px;
  text-align: center;
  background-color: #f7f7fa;
  margin: 0;
}

.small-clock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: -20px;
}

.small-clock .fa {
  font-size: 24px;
  margin-left: 10px;
}

.small-clock-text {
  font-size: 16px;
}

/*** Footer ***/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: black;
  margin-top: 90px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer .logo {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-text {
  font-size: 16px;
  color: white;
  margin-left: -30px;
  margin-top: 60px;
}

/* Subscribe container */

.footer-right {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.subscribe-text {
  font-size: 16px;
  color: white;
  margin-top: -10px;
}

.subscribe-container {
  display: flex;
}

.subscribe-box {
  width: 150px;
  padding: 3px;
  margin-right: 5px;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  outline: none;
}

.subscribe-button {
  padding: 4px;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}

.subscribe-button:hover {
  opacity: 0.7;
}

/* Media queries */

@media (min-width: 768px) {
  .header {
    height: 75px;
  }

  .h1 {
    font-size: 50px;
  }

  .site-name .logo {
    width: 60px;
  }

  .search-box {
    width: 250px;
    padding: 8px;
    font-size: 18px;
  }
  
  .fa-search {
    padding: 13px;
  }

  .navigation-container .fa-bars {
    display: none;
  }

  .topic {
    display: flex;
  }

  .social-media .fa {
    padding: 2px;
    font-size: 30px;
  }

  .line {
    width: 35%;
  }

  .food-box {
    width: 47%;
  } 
 
  .small-food-box {
    width: 45%;
  } 

  .footer-text {
    font-size: 22px;
  }

  .subscribe-box {
    width: 250px;
    padding: 4px;
  }
  
  .subscribe-button {
    font-size: 14px;
  }
}
      
  @media (min-width: 1200px) {
    .small-food-box {
      max-width: 22.5%;
      color: black;
      margin-bottom: 50px;
    } 
}


