body {
  font-family: Montserrat, Helvetica, sans-serif;
}
.header {
  display: flex;
  background: #ffff;
  justify-content: space-between;
  border-bottom: 2px dotted #000; 
}
.hamburger {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}
.hamburger-line {
  width: 30px;
  height: 5px;
  background: rgb(0, 0, 0); 
  border-radius: 2px;
} 
.logo {
  width: 50px;
  padding: 5px; 
} 
/*** HERO SECTION ***/
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fadeIn 5s; 
  font-size: 60px;
  font-weight: bold;
  background-image: url("./hero.jpg");
  background-position: center;
}
.hero-text {
  text-align: center;
  color: rgb(36, 31, 31);
  align-content: center;
}
.main-news {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
}
h2 {
  margin-bottom: 0;
}
.main-news > p {
  font-size: 17px;
  padding: 20px;
  background-color: #fbaec11d;
  font-weight: 300;
}
.figure {
  margin: 5px;
}
.image-container {
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  align-items: center;
  padding-top:20px ;
} 
.image { 
  background-color: #ffff;
  margin-bottom: 20px;
  border: 1px solid whitesmoke;
  padding: 15px 15px 65px 15px; 
  box-shadow: 5px 10px 10px rgb(169, 169, 169);
  overflow: hidden; 
  width: 75%;
}  
.image:hover {
  transform: rotate(-10deg);
  transition: all 0.3s ease;
}
.image1, .image2, .image3, .image4, .image5,.image6, .image7, .image8 {
  width: 100%;
}
figcaption {
  font-family: 'Indie Flower', Helvetica, sans-serif;
  text-align: center; 
  font-size: 20px;
} 
.footer > p {
  font-size: 15px;
} 

/*** MEDIA QUERIES ***/

/*** MOBILE ***/
@media (max-width:768px) { 
  .link {
    display:none; 
  }
}
/*** TABLET ***/
@media (min-width:768px) { 
  .hamburger {
    display: none;
  }
  .nav{
    padding-top: 10px;
  }
@keyframes fadeIn { 
  from { opacity: 2%; 
}
} 
  .link {
    display: inline;
    text-decoration: none; 
    font-weight: bold;
    color:#000000;
    transition-duration: 0.4s;
    padding-right: 15px;
    font-size: 15px;
  } 
  .link:hover {
    color: #0625ff; 
    background:#fff;
  } 
  .image-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image {
    margin: 20px;
    width: 35%;
    
  }
}
/*** LAPTOP ***/
@media (min-width:1024px)  {
  .image-container {
    justify-content: space-between;
  }
  .image {
    margin: 5px;
    width: 20%; 
  }
} 








