

.container {
    background-color: white;
    display: grid;
}


.header-child {
    background-color: red;
    height: 200px;
}

.big-news-section {
    background-color: green;
}

.big-news-section-parent {
    display: grid;
    background-color: brown;
}

.news-article-section {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
}

.articles { /* Kan ta bort */
    display: flex;
    background-color: red;
    margin: 100px;
}

.box {
    background-color: red;
    height: 90%;
    width: 90%;
}

.footer {
    background-color: grey;
}


@media (min-width: 768px) {

    
    .header {
        background-color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-child{
        width: 70%;
    }

    .big-news-section-parent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .big-news-section {
        width: 70%;
        justify-content: center;
    }

    .news-article-section-parent {

        background-color: blueviolet;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .news-article-section {
        display: grid;
        grid-template-columns: 1fr 1fr; /* gör du 1 fr 1 fr så får du två kolmuner och fyra rader*/
        text-align: center;
        flex-direction:row;
        width: 70%;
    }

    .articles {
  
        align-items: center;
        justify-content: center;
        background-color: blue;
        margin: 10px;
        flex-wrap: wrap;
    }

    .box {
        background-color: red;
    }
}

@media (min-width: 1024px) {
    .news-article-section {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* gör du 1 fr 1 fr så får du två kolmuner och fyra rader*/
    }
}