* {
  box-sizing: border-box;
}

html {
  background: #C3C3BD;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes background {
  0% {background-color: #9400D3; color: #333;}
  15% {background-color: #4B0082; color: white;}
  30% {background-color: #0000FF; color: white;}
  45% {background-color: #00FF00; color: #333;}
  60% {background-color: #FFFF00; color: #333;}
  75% {background-color: #FF7F00; color: #333;}
  90% {background-color: #FF0000; color: #333;}
  100% {background-color: #C3C3BD; color: #333;}
}

/* Mobile first */
header {
  background-color:#F4F4ED;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #053C17;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #053C17;
}

a:hover {
  text-decoration: underline;
  color: #A7BAAD;
}

.active {
  color: #A7BAAD;
}

.big-news {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #848484;
  padding: 10px;
}

img {
  max-width: 100%;
}

.news-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #366245;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  animation-name: background;
  animation-duration: 6s;
}

button:hover {
  background-color: #72917C;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

.news-grid-child {
  background-color: white;
  grid-column: span 4;
  padding: 10px;
  border: 1px solid #848484;
  box-shadow: 5px 5px 3px #848484;
  cursor: pointer;
}

.news-grid-child img {
  width: 100%;
  height: 200px;
}


/* Tablet */

@media screen and (min-width: 668px) {

  header {
    flex-direction: row;
    padding: 20px;
    gap: 0 10px;
  }

  nav {
    flex-direction: row;
    align-self: flex-end;
    margin-left: auto;
    gap: 20px;
    padding: 0 20px;
  }

  .big-news {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex-child {
    width: 40%;
    margin: 20px;
    flex-grow: 1;
  }

  .news-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    width: 25%;
  }

  .news-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
  
/* Desktop */

  @media screen and (min-width: 1024px) {
    .news-grid {
      grid-template-columns: repeat(12, 1fr);
    }

    .news-grid-child {
      grid-column: span 3;
    }
}