html {
  background: lightblue;
  color: black;
}

body {
  width: 100%; /* Updated to take full width */
  margin: 0; /* Removed left margin */
}

header {
  background-color: rgb(124, 147, 222);
  margin-bottom: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 25px;
  font-style: oblique;
  font-family: Georgia;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-size: small;
  font-family: "Times New Roman";
  color: rgb(0, 0, 0);
}

.header-text img {
  width: 20%;
  border-radius: 70%;
}

p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0; /* Adjusted for no default margin */
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(14, 14, 21);
}

.othernews,
.big-news {
  display: grid;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 0 rgba(227, 213, 213, 0.3);
  transition: all 0.2s ease-in-out;
}

.othernews:hover,
.big-news:hover {
  transform: scale(1.1);
}

@media (min-width: 320px) {
  .big-news,
  .othernews {
    grid-template-columns: 1fr; /* Mobile: 1 column */
  }
}

@media (min-width: 667px) {
  .big-news,
  .othernews {
    grid-template-columns: repeat(2, 1fr); /* Tablet: 2 columns */
  }
}

@media (min-width: 1025px) {
  .big-news,
  .othernews {
    grid-template-columns: repeat(4, 1fr); /* Desktop: 4 columns */
  }
}

.grid-item {
  background-color: white;
  padding: 8%;
}

.photo {
  width: 100%;
}

a {
  text-decoration: none;
}
