
body {
  background-image: url("codingbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.512);
  background-blend-mode:lighten;
  background-attachment: fixed;
  position: absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.099);
  width: 1890px;
}

.navbar img{
  float: left;
  width: 50px;
  border-radius: 50%;
}

.grey-box{
  background-color: rgb(238, 231, 231, 0,04);
  padding: 20px;
  width: 300px;
}

.grey-box img {
  width: 100%;
}