body {
  font-family: var(--primaryFont);
  font-weight: 300;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
