.main{
    background-color: lightpink;
}
.aside{
    background-color: orange;
}

@media only screen and (min-width: 992px){
    .container{
        display: flex;
    }
    .main {
        flex: 7;
        background: red;
    }
    .aside{
        flex: 3;
    }
}