.main-part {
  background-color: var(--mainBackgroundColor);
  padding: var(--medium) 0;
}

/* START BIG NEWS STYLE */
.big-news {
  background-color: var(--white);
  padding: calc(var(--spacing) * 2);
}

.big-news h1 {
  font-size: var(--large);
}

.news-title {
  color: var(--primaryColorDarker);
}

.news-subtitle {
  line-height: calc(var(--spacing) * 5);
}
.big-news-content span {
  font-weight: 400;
}

/* TABLET AND DESKTOP */
@media only screen and (min-width: 769px) {
  .big-news {
    display: flex;
  }

  .big-news-img {
    flex: 4;
  }

  .big-news-content {
    flex: 6;
    padding-left: calc(var(--spacing) * 2);
  }
}
/* DESKTOP */
@media only screen and (min-width: 992px) {
  /* BIG NEWS */
  .big-news {
    transition: box-shadow 0.15s ease-in-out;
  }
  .big-news:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(108, 108, 108, 0.38);
    -moz-box-shadow: 0px 1px 3px 0px rgba(108, 108, 108, 0.38);
    box-shadow: 0px 1px 3px 0px rgba(108, 108, 108, 0.38);
  }

  .big-news-img {
    overflow: hidden;
  }

  .big-news:hover img {
    animation: shake 0.3s ease-in-out forwards;
  }

  .news-title {
    transition: color 0.15s ease-in-out;
  }

  .big-news:hover .news-title {
    color: var(--primaryColorLight);
  }
}
/* END BIG NEWS STYLE */

/* START OTHERS NEWS STYLE */
.news-card-cnt {
  margin-top: calc(var(--spacing) * 4);
}

.news-card-cnt ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: calc(var(--spacing) * 4);
}

.news-card {
  background-color: var(--white);
  padding: calc(var(--spacing) * 2);
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.news-card:hover {
  box-shadow: 0 8px 6px -6px #454545;
  transform: scale(1.014);
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news-card-cnt ul {
    margin-top: calc(var(--spacing) * 4);
  }

  .news-card {
    padding: calc(var(--spacing) * 2);
    /* margin: calc(var(--spacing) * 2); */
    width: calc(50% - calc(var(--spacing) * 2));
  }

  .news-card:first-child {
    margin-left: 0;
  }

  .news-card:last-child {
    margin-right: 0;
  }
}

/* DESKTOP */
@media only screen and (min-width: 992px) {
  /* OTHERS NEWS */
  .news-card {
    width: calc(25% - calc(var(--spacing) * 4));
  }
}
/* END OTHERS NEWS STYLE */
