:root {
    --ff-primary: 'Public Sans', sans-serif;
    --ff-secondary: 'Play', sans-serif;
    --fw-reg: 400;
    --fw-bold: 600;
    --fw-bolder: 800;
    --clr-light: #fff;
    --clr-dark: #000;
    --fs-h1: 3rem;
    --fs-h2: 1.75rem;
    --fs-body: 1.25rem;
}

body {
  font-family: var(--ff-primary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--clr-dark);
  opacity: 0.9;
  z-index: 2;
  max-width: 1600px;
  font-family: var(--ff-secondary);
}

.header__heading,
.header__logo {
  background: -webkit-linear-gradient(#3723AC,#9239A2, #CF459A);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-left: 20px;
  font-size: var(--fs-h1);
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.navbar__item {
  text-align: center;
  padding: 0.875rem 1rem;
  font-size: var(--fs-h2);
  color: var(--clr-light);
}

.navbar-toggle {
  display: none;
  margin-right: 1.5rem;
}

.hamburger {
  display: block;
  width: 1.5rem;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-light)
} 

.section {
  position: relative;
  margin-bottom: 30px ;
}

.section__paragraph,
.section__header {
  padding: 0 10px;
}

.section__text {
  z-index: 1;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  bottom: 0;
  background-color: rgba(255,255,255,.8);
  width: 100%;
}

.section__header {
  margin-bottom: 20px;
  font-size: var(--fs-h2);
}

.section__paragraph {
  margin-bottom: 1.5rem;
  font-size: var(--fs-body);
}

.section__image {
  width: 100%;
  height: auto;
}

.container {
  max-width: 100rem;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.article {
  margin-bottom: 2rem;
}

.article__header {
  margin-bottom: 1rem;
}

.article__text {
  padding: 0.62rem 0.87rem 1.875rem 0.87rem;
}

.article__image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

.footer {
  background-color: #9239A2;
  color: var(--clr-light);
  padding: 2.18rem 1.87rem;
  font-size: var(--fs-h2);
  width: 100%;
  font-family: var(--ff-secondary);
}

.footer__list {
  text-align: center;
  font-weight: bolder;
}

.footer__list li{
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 4.95rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navbar__list.show {
    left: 0;
    background-color: rgba(0, 0, 0);
  }

  .navbar__item {
    margin: 2.5rem 0;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
  }

  .navbar-toggle.show .hamburger:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.show .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.show .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
} 

@media (min-width: 667px) {
  .container{
    padding-inline: 6rem;
  }
}

