:root {
    --ff-primary: 'Public Sans', sans-serif;
    --ff-secondary: 'Play', sans-serif;
    --fw-reg: 400;
    --fw-bold: 600;
    --fw-bolder: 800;
    --clr-light: #fff;
    --clr-dark: #000;
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-body: 1.5rem;
}

.header__heading,
.header__logo {
  background: -webkit-linear-gradient(#3723AC,#9239A2, #CF459A);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-left: 20px;
  font-size: var(--fs-h1);
}

.header__heading-desktop,
.navbar-toggle {
  display: none;
}

.header,
.navbar__list,
.section,
.footer {
  display: flex;
}

.header,
.navbar__list {
  align-items: center;
  justify-content: space-between;
}

.header,
.footer {
  width: 100%;
  font-family: var(--ff-secondary);
}

.navbar__link,
.footer {
  color: var(--clr-light);
}

.hamburger,
.section__text {
  display: block;
}

.section__header,
.article__header {
  margin-bottom: 16px;
}

.footer__link,
.footer__link-header {
  margin-bottom: 8px;
}

body {
  font-family: var(--ff-primary);
}

.header {
  position: fixed;
  height: 80px;
  background-color: var(--clr-dark);
  z-index: 2;
  margin: 0 auto 60px auto;
}

.navbar {
  justify-content: flex-end;
}

.navbar__link {
  text-align: center;
  padding: 14px 16px;
  font-size: 1.25rem;
  font-weight: var(--fw-reg);
  text-decoration: none;
}

.navbar__link:hover {
  color: #9f46af;
}

.navbar-toggle { 
  margin-right: 24px;
}

.navbar__list {
  margin-right: 15px;
}

.hamburger {
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-light)
} 

.main {
  max-width: 1600px;
  margin-inline: auto;
}

.section {
  flex-direction: column;
}

.section__image {
  margin-top: 80px;
}

.section__text {
  margin: 15px 5px 50px 10px;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.article {
  margin-bottom: 32px;
  border-radius: 5px;
}

.article__text {
  padding: 10px 14px 30px 14px;
}

.article__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.footer {
  background-color: rgb(39, 39, 39);
  padding: 35px 30px;
  margin-top: 96px;
  justify-content: center;
}

.footer__list {
  margin-left: 50px;
}

.footer__list:first-child {
  margin-left: 0;
}

.footer__link {
  font-weight: 300;
  color: rgb(218, 218, 218);
}

.footer__link-header {
  font-size: var(--fs-body);
}

.footer__link:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 64px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navbar__list.show {
    left: 0;
    background-color: var(--clr-dark);
  }

  .navbar__item {
    margin: 40px 0;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
  }

  .navbar-toggle.show .hamburger:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.show .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.show .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
} 

@media (min-width: 590px) {
  .main {
    padding: 0 60px;
  }
}

@media (min-width: 667px) {
  .header {
    position: static;
  }

  .article,
  .section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .section {
    margin-bottom: 60px;
  }
  .section__image {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .header__heading {
    display: none;
  }

  .header__heading-desktop {
    display: inline-block;
  }

  .section {
    position: relative;
  }

  .section__paragraph,
  .section__header {
     padding: 0 10px;
  }

  .section__text,
  .section__paragraph {
    font-size: var(--fs-body);
  }

  .section__text {
    z-index: 1;
    position: absolute;
    font-weight: bold;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
    width: 100%;
    height: 200px;
    margin: 0;
  } 

  .section__header {
    margin: 20px 0;
    font-size: var(--fs-h2);
  }

  .section__paragraph {
    margin-bottom: 24px;
    font-weight: 500;
  }

  .section__image {
    width: 100%;
    height: auto;
  }
}

