html {
  font-family: 'Montserrat', sans-serif;
  background: rgb(255, 255, 255);
}

body {
  margin: 0;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: normal;
  text-align: center;
}

.wrapper > * {
  padding: 15px;
  flex: 1 100%;
}

/* ----------------MENU---------------- */

.menu {
  display: none;
}

.header {
  background: rgb(255, 255, 255);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px rgba(138, 134, 134, 0.082);
}

.logo {
  width: 100px;
}

.magazine-name {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

/* ----------------DIVIDERS---------------- */
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  
  
}
.divider h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
  border-top: 2px solid rgba(0, 0, 0, 0.322);
  font-family: 'Montserrat', sans-serif;
}

.line {
  margin: 0 125px 10px 125px;
  max-width: 100%;
  
  border-top: 2px solid rgba(0, 0, 0, 0.322);
  font-family: 'Montserrat', sans-serif;
}

/* ----------------FOOTER---------------- */

.footer {
  display: block;
  background: rgb(255, 255, 255);
  padding: 25px;
}
.grid-footer-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    justify-content: flex-end;
   align-items: flex-end;  
    width: 100%;
    margin: auto;
}

.flex-footer-container {
  display: flex;
  grid-column: span 8 / auto;
  justify-content: flex-end;
  align-items: flex-end;  
  margin: auto;
}

.flex-footer-child{
  display: block;
  margin: 0 20px 0 20px;
  padding: 50px;
}

p1 , p2 ,p3 {
display: block;
margin: 5PX;

}

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

.info a {
  text-decoration: none;
  display: block;
  padding: 0;
  margin-top: .5em;
  color: rgb(0, 0, 0);
}

.info a:hover {
  transform: scale(1.2);
  text-shadow: none;
}

/* ----------------BIG NEWS---------------- */

.featured-news {
  text-align: left;
  background: rgb(255, 255, 255);
  margin: auto;
}

video {
  max-width: 100%;
}

/* ----------------OTHER NEWS---------------- */

.other-news {
  text-align: left;
  background: rgb(255, 255, 255);
  margin: auto;
}

img {
  max-width: 100%;
}

.aside {
  display: none;
}

/* ----------------MEDIA QUERIES---------------- */

@media all and (min-width: 667px) {

  .wrapper {
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
  }

  .other-news { 
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
  }

  .divider {
    display: none;
  }
 
  .other {
    max-width: 49%;
    flex-grow: 1;
  }
 
  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
  }
  
  .menu a {
    text-decoration: none;
    display: block;
    padding: 0;
    margin-top: .5em;
    color: rgb(0, 0, 0);
  }
  
  .menu a:hover {
    transform: scale(1.2);
    text-shadow: none;
  }

  .pics {
    width: 100%;
    height: 300px;
    object-fit: cover;
    text-align: center;
  } 
  
}

@media all and (min-width: 1024px) {
  
  .featured-news {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .featured1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .featured-article{
    width: auto;
    margin: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.322);
    border-bottom: 2px solid rgba(0, 0, 0, 0.322);
    text-align: center;
  }
  
  video {
    width: 50%;
  }
  .other {
    max-width: 24%;
  }

  .other-news { 
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    
  }
  
 
}

