
body {
  background: ivory;
  margin: 0px;
}

/***** Styling Header *****/

header {
  background-color: #e4195d;
  font-family: 'Poiret One', cursive;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-home {
  text-align: center;
  width: 25%;
  height: auto;
  padding: 2%;
}

.header-home a:hover {
  opacity: 0.5;
}

.header-text-container {
  color: white;
  width: 70%;
  margin: 0%;
  padding: 2% 4%;
}

h1 {
  font-family: 'Monoton', cursive;
  font-weight: normal;
}

/***** Styling Main *****/

section {
  color: black;
  display: flex;
  flex-direction: column;
}

/* Big News */

.big-news {
  padding: 0% 0% 5% 0%;
}

.big-image { 
  position: relative;
}

.big-image img {
  max-width: 100%;
  object-fit: cover;
}

.image-source {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: black;
  font-size: 10px;
}

.big-news-text a {
  text-decoration: none;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #e4195d;
  margin: 10px; 
  font-size: 30px;
}

h2:hover {
  font-weight: normal;
  text-decoration: underline overline;
}

.big-news p {
  margin: 0px 10px; 
  font-family: 'Raleway', sans-serif;
}

.big-news a {
  margin: 0px 10px; 
}

.read-more {
  color: #e4195d;
  font-family: 'Raleway', sans-serif;
}

.read-more:hover {
  font-weight: bold;
}

/* Other news */

.other-news {
  margin: auto; 
  justify-content: center;
  background-color: #e4195d;
}

article {
  margin: 20px;
  background-color: ivory;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 10px 1px #290310;
  transition: transform .2s;
}

article:hover {
  transform: scale(1.1);
}

.other-news img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.other-news a {
  text-decoration: none;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: center;
  padding: 0px 10px;
  font-size: 20px;
}


/***** Styling Footer ******/

footer {
  background-color: #e4195d;
  font-family: 'Poiret One', cursive;
  color: white;
  border-top: 5px dotted white;
  border-width: thick;
}

.footer-links {
  display: flex;
  justify-content: center;
  font-family: 'Poiret One', cursive;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0% 23%;
}

.footer-links a:link {
  text-decoration: none;
  padding: 0px 10px;
  color: white;
}

.footer-links a:visited {
  color: white;
}

.footer-links a:hover {
  font-weight: normal;
}

h4 {
  margin: 30px 0px 0px 0px;
  font-size: 20px;
  font-weight: normal;
}

button {
  background-color: #e4195d;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid white;
  transition: transform .2s;
}

button a {
  text-decoration: none;
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

button:hover {
  transform: scale(1.2);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscribe p {
  margin: 20px 20px 0px 20px;
}

.logo {
  max-width: 20%;
  margin-bottom: 20px;
  margin-right: 20px;
  align-self: flex-end;   
}

/***** Styling dependent on screen size ******/

@media (max-width: 667px) {
  .header-text { display: none; }
  .navbar { display: none; }
  .large-screen { display: none; }
  span {display: none;}
}

@media (min-width: 424px) {
  .footer-links {
    padding: 0% 30%;
  }
}

@media (min-width: 522px) {
  .footer-links {
    padding: 0% 33%;
  }
}

@media (min-width:668px) {
  .header-home { display: none; }
  
  .header-container { 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
  }

  .header-text-container {
    width: 100%;
    padding: 0%;
  }

  h1 {
    font-size: 40px;
    margin: 2% 0% 0% 0%;
    padding: 0% 2%;
  }

  .header-text {
    font-size: 20px;
    margin: 0%;
    padding: 0% 2% 3% 2%;
  }

  .navbar {
    overflow: hidden;
    border-top: 5px dotted white;
    border-width: thick;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar-navbar:link {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
  }

 .navbar-navbar:visited {
    color: white;
  }

  .navbar-navbar:hover {
    background-color: ivory;
    color: #e4195d;
    font-weight: bold;
  }

  .navbar-home:hover {
    background-color: #e4195d;
  }

  .navbar-home img {
    height: 60px;
    width: 60px;
    margin-top: 5px;
  }

  .navbar-home img:hover {
    background-color: #e4195d;
    opacity: 0.5;
  }

  .small-screen { display: none; }
  
  .big-news {
    flex-direction: row;
  }

  .big-image {
    flex-grow: 1;
    min-width: 40%;
  }

  .big-image img {
    height: 415px;
  }

  .big-news-text {
    flex-grow: 2;
  }

  .other-news {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .article {
    max-width: 40%;
  }

  .footer-links {
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
    padding: 0;
  }

  .login {
    order: 3;
  }

  .contact {
    order: 2;
  }

  .signup {
    order: 4;
  }

  .footer-subscribe p {
    margin: 20px 20px 50px 20px;
    font-size: 20px;
    align-self: flex-start;
  }

  .footer-subscribe p img {
    width: 100px;
    height: 50px
  }
  
  .logo {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header-container {  
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .header-home { 
    display: initial; 
    padding: 15px;
    max-width: 200px;
  }

  .header-home img {
    height: 120px;
    width: 120px;
  }

  .header-text {
    font-size: 25px;
  }

  .navbar {
    justify-content: flex-end;
  }

  .navbar-home { display: none; }

  .navbar-navbar:link {
    font-size: 25px;
    padding: 20px;
  }

  .big-news {
    margin: 2% 15%;
    padding: 0%;
  }
  
  .other-news {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .article {
    max-width: 20%;
  }

  h4 {
    margin: 0;
  }
  
  .footer-links {
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 10px;
  }

  .footer-subscribe p {
    align-self: flex-end;
  }
}
